[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
[submodule "alacritty/alacritty-theme"]
	path = alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
